.mainabout{
    display: flex;
    flex-direction:column;
    padding:10px;
    align-items: center;
}
    .mainabout p{
        color: white;
        font-family: K2D;
        margin-left:20px;
        font-size: larger;
    }
    #aboutb{
        color:white;
        text-indent: 40px;
        text-align:justify;
        line-height: 200%;
        font-weight: 100;
        font-family: K2D;
        width:80%;
        height: max-content;
        margin: auto;
        border-radius: 20px;
        font-size: large;
        padding: 20px;
        background-color: rgba(255, 255,255,0.1);
        /* min-height: 350px; */
    }
    .mainabout img{
        height:100px;
        width:auto;
        border-radius: 10px;
        border:1px solid rgb(37, 240, 155);
    }
    @media only screen and (min-width:600px){
        .mainabout img{
            display: block;
            height: 200px;
            margin:10px;
            width: 200px;
            border-radius: 10px;
            border:1px solid rgb(37, 240, 155);
        }
    }
    
.menu 
{
  z-index: 98;
  display: none;
  flex-direction: column;
  height: 60vh;
  width: 40%;
  background-color: rgba( 255, 255, 255,0.4);
  padding: 30px;
  margin: 10px;
  justify-content: space-around;
  border-radius: 20px;
  transition: ease-in-out;
}

.menu a
{
 padding: 10px;
 background-color: rgba( 255, 255, 255,0.4);
 font-size: larger;
 border: none;
border-radius:10px ;
text-align: center;
font-family: K2D;
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.change1{
  display: flex;
}
