.feedbackbody{
    font-family: K2D;
}
.feedbackbody h3{
    color: white;
    margin:20px;
    font-family: K2D;
    font-weight: 100;
    font-size: x-large;
}
#finput{
    background-color: rgba(255, 255,255,0.1);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    min-height: 300px;
    text-align: initial;
    font-size: large;
    font-family: K2D;
    border-radius: 20px;
    padding:5px;
    text-align: start;
}
#fsubmit{
    padding:10px;
    background-color: rgba(255, 255,255,0.1);
    color: white;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: K2D;
  font-size: larger;
  border-radius: 10px;
  margin-top: 50px;
}
