.subject{
    padding: 20px;
    width:150px;
    height: fit-content;
    border-radius: 20px;
    text-decoration: none;
    margin:20px;
    aspect-ratio: 1/1;
    color: white;
    font-size:large;
    font-family: K2D;
    background-color: rgba(255, 255,255,0.1);
}
.main{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.szonetop{
    display: none;
}
@media only screen and (min-width:600px){ 
.szonetop{
    display: flex;
    background-color: rgba(255, 255,255,0.1);
    width:20%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    padding:15px;
    border-radius: 20px;
    font-family: K2D;
    color:white;
}
}